<div class="column-3-4 buffer-top">
  <div class="hashtags">
    <% @hashtags.each do |hashtag| %>
      <%= link_to "##{hashtag.text}", hashtag_path(hashtag.text), class: 'hashtag'%>
    <% end %>
  </div>

  <div class="user-questions buffer-both">
    <div class="questions-list">
      <% @questions.each do |question| %>
        <%= link_to "@#{question.user.username}", user_path(question.user) %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>
