.button {
  display: inline-block;
  padding: 15px 30px;

  color: white;

  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);

  border: none;
  border-radius: 3px;
}

.button a {
  color: white;
}

.button-dark {
  background: #2e2f41;
}

.button-green {
  background: #005a55;
}

.button-light {
  background: #00948a;
}

.button-red {
  background-color: #730E15;
}

.button-small {
  font-size: 15px;
  line-height: 15px;
  padding: 7px 15px;
}
